.outer {
  padding: 8px 0;
}

.header {
  margin: 16px 0 0 16px;
  font-family: "SF Pro Text", system, -apple-system, BlinkMacSystemFont,
    ".SFNSDisplay-Regular", "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.374px;
  line-height: 20px;
  color: #2e3247;
}
